<h2>Pages & Navigation</h2>
<p>Toggle pages, change page titles, reorder navigation bar</p>
<div cdkDropList class="navitem-list" (cdkDropListDropped)="drop($event)">
    <button mat-raised-button color="primary" class="btn-save-navbar" *ngIf="changed" (click)="save()">Save</button>
    <div cdkDrag class="navitem" *ngFor="let navitem of data.navbar">
        <div class="nav-content {{navitem.enabled ? '' : 'disabled'}}">
            <mat-icon>drag_indicator</mat-icon>
            <span class="nav-name">{{navitem.name}}</span>
        </div>
        <button mat-icon-button (click)="editNavigation(navitem.id)">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
</div>