<h1 mat-dialog-title>Create article</h1>
<mat-form-field class="w-100">
    <mat-label>Title</mat-label>
    <input matInput type="text" [(ngModel)]="article.title" [maxlength]="titleMaxLength">
    <mat-hint align="end">{{article.title.length}} / {{titleMaxLength}}</mat-hint>
</mat-form-field>
<ckeditor [(ngModel)]="article.content" [editor]="Editor" [config]="editorConfig"></ckeditor>
<div mat-dialog-actions class="buttons">
    <button mat-raised-button (click)="create()" color="primary">Create</button>
    <button mat-dialog-close mat-raised-button>Close</button>
</div>