<form [formGroup]="general">
    <h1>General page settings</h1>
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="data.title" [ngModelOptions]="{standalone: true}" maxlength="20">
    </mat-form-field>
    <label for="logo-upload">Logo</label>
    <input type="file" id="logo-upload" accept="image/*" (change)="changeLogo($event)">
    <img [src]="data.logo.path" style="width: 200px;">
    <mat-form-field>
        <mat-label>Banner</mat-label>
        <input matInput [(ngModel)]="data.banner.path" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Background color</mat-label>
        <input type="color" matInput [(ngModel)]="data.backgroundColor" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
</form>
<h1>Pages & Navigation</h1>
<div cdkDropList class="navitem-list" (cdkDropListDropped)="drop($event)">
    <button mat-raised-button color="warn" class="btn-save" *ngIf="navOrderChanged" (click)="save()">Save</button>
    <div cdkDrag class="navitem" *ngFor="let navitem of data.navbar">
        <div class="nav-content">
            <mat-icon>drag_indicator</mat-icon>
            <div class="nav-line">
                <span class="nav-name">{{navitem.name}}</span>
                <span class="nav-path">/{{navitem.path}}</span>
            </div>
        </div>
        <button mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
    </div>
</div>