form {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.sticky-container {
    position: absolute;
    right: 0;
    height: 100%;
}

.btn-save {
    position: sticky;
    top: 10px;
}