<div class="dropzone" #dropzone dragAndDrop (file)="uploadFile($event)">
    <input type="file" accept="image/*" #input (change)="uploadFile(input.files); input.value = ''">
    <span>Drop file or click to browse</span>
    <span>or choose from your <button type="button" mat-raised-button color="accent" #btnGallery
            (click)="openGallery(btnGallery)" class="btn-gallery">Gallery</button></span>
    <div class="file-preview" (click)="deleteImage()" *ngIf="displayedImage !== ''">
        <mat-icon class="icon">delete</mat-icon>
        <img [src]="displayedImage">
    </div>
</div>