<div class="admin {{preview ? 'admin-hidden' : ''}}">
    <mat-drawer-container class="admin-container">
        <mat-drawer mode="side" #drawer opened>
            <mat-nav-list>
                <mat-list-item routerLink="general" routerLinkActive="" mat-list-item>
                    <mat-icon matListItemIcon>settings</mat-icon>
                    <a matListItemTitle>General</a>
                </mat-list-item>
                <mat-list-item routerLink="templates" routerLinkActive="" mat-list-item>
                    <mat-icon matListItemIcon>format_paint</mat-icon>
                    <a matListItemTitle>Templates</a>
                </mat-list-item>
                <mat-list-item routerLink="articles" routerLinkActive="" mat-list-item>
                    <mat-icon matListItemIcon>article</mat-icon>
                    <a matListItemTitle>Articles</a>
                </mat-list-item>
                <mat-list-item routerLink="recruitment" routerLinkActive="" mat-list-item>
                    <mat-icon matListItemIcon>person_add</mat-icon>
                    <a matListItemTitle>Recruitment</a>
                </mat-list-item>
                <mat-list-item routerLink="progress" routerLinkActive="" mat-list-item>
                    <mat-icon matListItemIcon>trending_up</mat-icon>
                    <a matListItemTitle>Progress</a>
                </mat-list-item>
                <mat-list-item routerLink="media" routerLinkActive="" mat-list-item>
                    <mat-icon matListItemIcon>video_library</mat-icon>
                    <a matListItemTitle>Twitch and Youtube</a>
                </mat-list-item>
                <mat-list-item routerLink="calendar" routerLinkActive="" mat-list-item>
                    <mat-icon matListItemIcon>event</mat-icon>
                    <a matListItemTitle>Calendar</a>
                </mat-list-item>
                <mat-list-item routerLink="settings" routerLinkActive="" mat-list-item>
                    <mat-icon matListItemIcon class="danger">warning</mat-icon>
                    <a matListItemTitle>Danger zone</a>
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <mat-toolbar class="navigation" color="primary">
                <div class="navigation-header">
                    <button mat-icon-button title="Menu" (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                      </button>
                      <span>Admin</span>
                </div>
                <button mat-raised-button color="accent" (click)="togglePlaceholders()">Toggle placeholders</button>
                <span class="navigation-spacer"></span>
                <button mat-icon-button (click)="logout()">
                    <mat-icon>logout</mat-icon>
                </button>
            </mat-toolbar>
            <div class="admin-content">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
      </mat-drawer-container>
</div>
<app-preview class="{{preview ? 'preview-full' : ''}}"></app-preview>
<button mat-fab color="primary" (click)="togglePreview()" class="btn-preview">
    <mat-icon *ngIf="!preview">fullscreen</mat-icon>
    <mat-icon *ngIf="preview">fullscreen_exit</mat-icon>
</button>