<div class="admin {{preview ? 'admin-hidden' : ''}}">
    <mat-drawer-container class="admin-container">
        <mat-drawer mode="side" #drawer opened>
            <mat-list>
                <mat-list-item>
                    <button mat-button routerLink="">General</button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button routerLink="articles">Articles</button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button routerLink="recruitment">Recruitment</button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button routerLink="progress">Progress</button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button color="warn" routerLink="/rules">Danger zone</button>
                </mat-list-item>
            </mat-list>
        </mat-drawer>
        <mat-drawer-content>
            <mat-toolbar class="navigation" color="primary">
                <div class="navigation-header">
                    <button mat-icon-button title="Menu" (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                      </button>
                      <span>Admin</span>
                </div>
                <button mat-raised-button color="accent" (click)="togglePlaceholders()">Toggle placeholders</button>
                <span class="navigation-spacer"></span>
                <button mat-icon-button (click)="logout()">
                    <mat-icon>logout</mat-icon>
                </button>
            </mat-toolbar>
            <div class="admin-content">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
      </mat-drawer-container>
</div>
<app-preview class="{{preview ? 'preview-full' : ''}}"></app-preview>
<button mat-fab color="primary" (click)="togglePreview()" class="btn-preview">
    <mat-icon>fullscreen</mat-icon>
</button>