img {
    width: 100%!important;
    cursor: pointer;
}

.selected {
    background-color: rgba($color: royalblue, $alpha: 0.5);
}

.btn-class-image {
    height: 100%;
    width: 100%;
}

mat-grid-list {
    margin-top: 10px;
}