<h1 style="position: absolute; top: 50px; font-size: 100px;">PLACEHOLDER DESIGN</h1>
<div class="home">
    <div class="titles">
        <h1>McSolutions'</h1>
        <h2>YOUR fast guild-website restaurant!</h2>
    </div>
    <div class="form-switch">
        <button (click)="switchForms(false)">Login</button>
        <div class="spacer"></div>
        <button (click)="switchForms(true)">Register</button>
        <div [ngClass]="['underline', (switch ? 'underline-register' : 'underline-login')]"></div>
    </div>
    <app-login *ngIf="!switch"></app-login>
    <app-register *ngIf="switch"></app-register>
</div>