:host {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
    color: #eee;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles {
    text-align: center;
}

.form-switch {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
}

.form-switch button {
    padding: 5px;
    text-align: center;
    font-size: larger;
    width: 90px;
    background-color: unset;
    border: unset;
    color: #eee;
    cursor: pointer;
}

.switch-active {
    border-bottom: 1px solid #eee!important;
}

.spacer {
    width: 2px;
    background-color: #eee;
}

.underline {
    background-color: #eee;
    width: 90px;
    height: 1px;
    position: absolute;
    transition: all 0.2s;
    bottom: 0;
    left: 0;
}

.underline-register {
    left: calc(100% - 90px);
}