<h2>Channels management</h2>
<div class="buttons">
    <button mat-raised-button color="primary" (click)="createChannel()" class="btn-add">Add</button>
    <button mat-raised-button color="primary" *ngIf="changed" class="btn-save-order" (click)="saveOrder()">Save</button>
</div>
<div cdkDropList class="channel-list" (cdkDropListDropped)="drop($event)" *ngIf="data.channels.length > 0">
    <div cdkDrag class="channel" *ngFor="let channel of data.channels">
        <mat-icon matListItemIcon>drag_indicator</mat-icon>
        <div matListItemTitle class="channel-line">
            <span class="channel-title">{{channel.name}}</span>
            <a [href]="channel.link">{{channel.link}}</a>
        </div>
        <div>
            <button mat-icon-button #editTwitchBtn (click)="updateChannel(channel, editTwitchBtn)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button #twitchDeleteBtn (click)="deleteChannel(channel.id, twitchDeleteBtn)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>