.mat-mdc-list-item-icon {
    color: royalblue;
}

.channel-line {
    display: flex;
    justify-content: space-between;
}

.channel-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

mat-list-item:hover {
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 10px;
}

.mdc-list-item--with-trailing-meta .mdc-list-item__end:last-of-type {
    margin-left: 0;
}

.mdc-list-item--with-trailing-meta .mdc-list-item__end:first-of-type {
    margin-right: 0;
}