<form class="dialog">
    <h1 mat-dialog-title>Add channel</h1>
    <mat-form-field class="w-100">
        <mat-label>Site</mat-label>
        <mat-select required [(value)]="channel.site">
            <mat-option *ngFor="let site of channelTypes" [value]="site.id">{{site.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="channel.name" [maxlength]="channelNameMaxLength" required>
        <mat-hint align="end">{{channel.name.length}} / {{channelNameMaxLength}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="w-100">
        <mat-label>Link</mat-label>
        <input matInput type="text" name="link" [(ngModel)]="channel.link" [maxlength]="channelLinkMaxLength" required>
        <mat-hint align="end">{{channel.link.length}} / {{channelLinkMaxLength}}</mat-hint>
    </mat-form-field>
    <div mat-dialog-actions class="buttons">
        <button type="submit" mat-raised-button (click)="add()" color="primary">Add</button>
        <button type="button" mat-dialog-close mat-raised-button>Close</button>
    </div>
</form>