a {
    cursor: pointer;
    background-color: #eee;
    padding: 10px;
    border: 1px solid black;
}

a:hover {
    background-color: #333;
    color: #eee;
}

:host {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

* {
    box-sizing: border-box;
    position: relative !important;
}