:host {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding: 5px;
    font-size: large;
}

label {
    font-size: larger;
}

button {
    all: unset;
    background-color: #eee;
    color: #333;
    padding: 10px;
    width: 50px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 10px;
}

button:hover {
    background-color: #333;
    color: #eee;
}

button:disabled {
    opacity: 50%;
    cursor: default;
}

button:disabled:hover {
    background-color: #eee;
    color: #333;
}

.errors {
    display: flex;
    flex-direction: column;
    color: red;
}