<form [formGroup]="loginForm" (submit)="login()" class="auth-form">
    <div class="errors">
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <span>{{email?.errors?.["required"] ? "Email is required" : ""}}</span>
            <span>{{email?.errors?.["email"] ? "Email format is invalid" : ""}}</span>
        </div>
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <span >{{password?.errors?.["required"] ? "Password is required" : ""}}</span>
            <span>{{password?.errors?.["minlength"] ? "Password is too short" : ""}}</span>
        </div>
        <span *ngIf="loginFail.occured && password?.pristine && email?.pristine">{{loginFail.message}}</span>
    </div>
    <label for="email">Email</label>
    <span class="input-row"><input type="email" autocomplete="email" formControlName="email" id="email"><span class="tick" *ngIf="email?.valid">✓</span></span>
    <label for="password">Password</label>
    <span class="input-row"><input type="password" autocomplete="current-password" formControlName="password" id="password"><span class="tick" *ngIf="password?.valid">✓</span></span>
    <div class="form-buttons">
        <button type="submit" [disabled]="loginForm.pristine || loginForm.invalid">Login</button>
        <button type="submit" (click)="devPass()" style="background-image: url('https://media0.giphy.com/media/yx400dIdkwWdsCgWYp/giphy.gif'); height: 50px; background-size: cover;"></button> <!--! DEFER REMOVE -->
    </div>
</form>