@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", sans-serif;
}

.auth-form {
    display: flex;
    flex-direction: column;
    user-select: none;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.full-height {
    height: 100%;
}

.ck-editor__editable_inline {
    min-height: 200px;
}

.rules-editor {

    .ck-editor__editable_inline {
        min-height: 400px;
    }
}

.dialog {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }

    span {
        text-align: center;
    }
}

.btn-class-image {
    .mdc-button__label {
        width: 100%;
    }
}