@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", sans-serif;
}

.auth-form {
    display: flex;
    flex-direction: column;
    user-select: none;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.full-height {
    height: 100%;
}

.ck-editor__editable_inline {
    min-height: 200px;
}

.rules-editor {

    .ck-editor__editable_inline {
        min-height: 400px;
    }
}

.dialog {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }

    span {
        text-align: center;
    }
}

.btn-class-image {
    .mdc-button__label {
        width: 100%;
    }
}

// Lists

.list {
    width: 100%;

    .line {
        display: flex;
        justify-content: space-between;
    }

    .list-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .mat-mdc-list-item-icon,
    .icon {
        color: royalblue !important;
    }

    mat-list-item:hover {
        background-color: rgba($color: #000000, $alpha: 0.2);
        border-radius: 10px;
    }

    .mdc-list-item--with-trailing-meta .mdc-list-item__end:last-of-type {
        margin-left: 0;
    }

    .mdc-list-item--with-trailing-meta .mdc-list-item__end:first-of-type {
        margin-right: 0;
    }
}