<h1>Choose game</h1>
<!-- <button mat-raised-button color="warn" *ngIf="currentTemplate !== selectedTemplate" (click)="switchGame()" class="btn-switch">Switch</button> -->
<div class="templates">
    <button mat-button class="template {{i === selectedGame ? 'selected' : ''}}" *ngFor="let game of games; index as i" (click)="selectGame(i)">
        <div class="template-inner">
            <img [src]="game" class="template-image">
        </div>
    </button>
</div>
<h1>Template settings</h1>
<button mat-raised-button color="warn" *ngIf="currentTemplate !== selectedTemplate" (click)="switchTemplate()" class="btn-switch">Switch</button>
<div class="templates">
    <button mat-button class="template {{i === selectedTemplate ? 'selected' : ''}}" *ngFor="let template of templates; index as i" (click)="selectTemplate(i)">
        <div class="template-inner">
            <img [src]="template.image" alt="" style="background-color: black; width: 160px; height: 90px;">
            <span>{{template.name}}</span>
        </div>
    </button>
</div>