:host {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 100%;
    position: relative;
}

.templates {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    gap: 5px;
    padding: 10px;
}

.selected {
    border: 2px solid black;
    background-color: rgba($color: royalblue, $alpha: 0.3);
}

.btn-switch {
    position: fixed;
    bottom: 20px;
    right: calc(50% + 20px);
    z-index: 999;
}