<h2>Choose game preset</h2>
<button mat-raised-button color="primary"
    *ngIf="initState.preset !== selectedPreset || data.templateid !== initState.template" (click)="switch()"
    class="btn-switch">Switch</button>
<div class="templates">
    <button mat-button class="template {{i === selectedPreset ? 'selected' : ''}}"
        *ngFor="let preset of presets; index as i" (click)="selectPreset(i)">
        <div class="template-inner">
            <img [src]="preset.image" class="template-image">
        </div>
    </button>
</div>
<h2>Choose template</h2>
<div class="templates">
    <button mat-button class="template {{i === data.templateid ? 'selected' : ''}}"
        *ngFor="let template of templates; index as i" (click)="selectTemplate(i)">
        <div class="template-inner">
            <img [src]="template.image" style="background-color: black;" class="template-image">
            <span>{{template.name}}</span>
        </div>
    </button>
</div>