<!--! Temporary mess -->
<div style="
    width: 100%;
    min-height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  ">
  <div class="page">
    <header [style.background-image]="
        'url(' +
        (usePlaceholders && data.banner === ''
          ? PLACEHOLDERS.banner
          : data.banner) +
        ')'
      ">
      <div class="custom-hover" *ngIf="router.url === '/admin/settings'">header</div>
      <div class="titles">
        <img [src]="
            usePlaceholders && data.logo === '' ? PLACEHOLDERS.logo : data.logo
          " class="logo {{
            usePlaceholders && data.logo === '' ? 'placeholder' : ''
          }}" draggable="false" />
        <h1 class="title {{
            usePlaceholders && data.title === '' ? 'placeholder' : ''
          }}">
          {{
          usePlaceholders && data.title === ""
          ? PLACEHOLDERS.title
          : data.title
          }}
        </h1>
      </div>
      <div class="menubar">
        <div class="menu-item {{
            usePlaceholders && data.navbar.length === 1 ? 'placeholder' : ''
          }}" *ngFor="
            let item of usePlaceholders && data.navbar.length === 1
              ? PLACEHOLDERS.navbar
              : (data.navbar | filterEnabled);
            index as i
          ">
          <a [routerLink]="PREVIEWMODE ? null : item.path" (click)="PREVIEWMODE ? changeTemplate(item.path) : ''"
            [class.active]="item.path === ''">{{
            item.name | uppercase }}</a>
          <div class="spacer" *ngIf="
              i <
              (usePlaceholders && data.navbar.length === 1
                ? PLACEHOLDERS.navbar.length - 1
                : (data.navbar | filterEnabled).length - 1)
            "></div>
        </div>
      </div>
    </header>
    <div class="content">
      <article>
        <div class="article {{
            usePlaceholders && data.articles.length === 0 ? 'placeholder' : ''
          }}" *ngFor="
            let article of usePlaceholders && data.articles.length === 0
              ? PLACEHOLDERS.articles
              : data.articles
          ">
          <div class="custom-hover" *ngIf="router.url === '/admin/settings'">.article</div>
          <div class="article-header">
            <h2>{{ article.title }}</h2>
            <span class="article-date">Posted on {{ article.date | date : "yyyy.MM.dd, H:mm" }}</span>
          </div>
          <div class="article-body">
            <div [innerHtml]="article.content | safeHtml"></div>
          </div>
        </div>
      </article>
      <div class="sidebar">
        <div class="tgf" *ngIf="usePlaceholders || !recruitmentEmpty">
          <div class="custom-hover" *ngIf="router.url === '/admin/settings'">.tgf</div>
          <h2 class="tgf-title">Recruiting</h2>
          <div class="tgf-icons">
            <div class="class" *ngFor="
                let item of usePlaceholders && recruitmentEmpty
                  ? preset.classes
                  : data.recruitment
              " [class.d-none]="item.subclasses.length === 0">
              <img class="tgf-icon {{
                  usePlaceholders && recruitmentEmpty ? 'placeholder' : ''
                }}" [src]="item.class" *ngIf="item.subclasses.length > 0" draggable="false" />
              <div class="subclass">
                <img class="tgf-icon {{
                    usePlaceholders && recruitmentEmpty ? 'placeholder' : ''
                  }}" [src]="subclass" *ngFor="let subclass of item.subclasses" draggable="false" />
              </div>
            </div>
          </div>
        </div>
        <div class="progresses" *ngIf="usePlaceholders || data.progress.length !== 0">
          <div class="custom-hover" *ngIf="router.url === '/admin/settings'">.progresses</div>
          <h2 class="progress-title">Progress</h2>
          <div *ngFor="
              let item of usePlaceholders && data.progress.length === 0
                ? PLACEHOLDERS.progress
                : data.progress
            " class="progress {{
              usePlaceholders && data.progress.length === 0 ? 'placeholder' : ''
            }}" [style.background-image]="'url(' + item.background + ')'">
            <span>{{ item.name }}</span>
            <div *ngFor="let raid of item.raids" class="raid">
              <span>{{ raid.difficulty }} {{ raid.current }} / {{ raid.max }}</span>
            </div>
          </div>
        </div>
        <div class="channels" *ngIf="usePlaceholders || data.channels.length !== 0">
          <div class="custom-hover" *ngIf="router.url === '/admin/settings'">.channels</div>
          <h2 class="channels-title">Channels</h2>
          <a [href]="item.link" draggable="false" target="_blank" *ngFor="
              let item of usePlaceholders && data.channels.length === 0
                ? PLACEHOLDERS.channels
                : data.channels
            " class="channel {{
              usePlaceholders && data.channels.length === 0 ? 'placeholder' : ''
            }}" [style.background-color]="channelTypes[item.site].color">
            <img [src]="channelTypes[item.site].logo" style="width: 25px" draggable="false" />
            <span style="text-align: end;">{{ item.name }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="custom-hover" *ngIf="router.url === '/admin/settings'">footer</div>
    <span>&copy; All rights reserved 2024</span>
  </footer>
</div>