:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: space-between;
    background-color: #333;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    cursor: pointer;
}

header {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}

.logo {
    width: 100px;
}

.titles {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
.title {
    font-size: 60px;
}

.menubar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.menubar div a {
    padding: 5px;
    color: #eee;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.menubar div a:hover {
    background-color: #eee;
    color: #333;
}

.menu-item {
    display: flex;
    justify-content: space-between;
}

.spacer {
    height: 100%;
    width: 2px;
    margin: 0 35px;
    background-color: #eee;
}

.content {
    padding: 10px;
    max-width: 1300px;
    margin: 40px 0;
    display: flex;
    gap: 25px;
    height: 100%;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 80%;
}

.article {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    box-shadow: 7px 7px 20px -7px #eee;
    padding: 10px;
    width: 100%;
}

.article-header {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: start;
}

.article-content {
    margin: 10px;
}

.sidebar {
    min-width: 20%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.tgf {
    box-shadow: 7px 7px 20px -7px #eee;
    border: 2px solid black;
    padding: 10px;
}

.tgf-title {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: #eee 1px solid;
}

.tgf-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 100%;
    flex-flow: wrap;
}

.tgf-icon {
    width: 30px;
    border: 2px solid black;
}

footer {
    background-color: #111;
    width: 100%;
    min-height: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

.progresses {
    box-shadow: 7px 7px 20px -7px #eee;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.progress-title {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: #eee 1px solid;
}