<!--! Temporary mess -->
<div style="width: 100%; min-height: 100%; display: flex; flex: 1; flex-direction: column; justify-content: space-between;" [style.background-color]="data.backgroundColor">
    <div class="page">
        <header [style.background-image]="'url('+(usePlaceholders && data.banner === '' ? PLACEHOLDERS.banner : data.banner)+')'">
            <div class="titles">
                <img [src]="usePlaceholders && data.logo === '' ? PLACEHOLDERS.logo : data.logo" class="logo {{usePlaceholders && data.logo === '' ? 'placeholder' : ''}}">
                <h1 class="title {{usePlaceholders && data.title === '' ? 'placeholder' : ''}}">{{usePlaceholders && data.title === '' ? PLACEHOLDERS.title : data.title}}</h1>
            </div>
        
            <div class="menubar">
                <div class="menu-item {{usePlaceholders && data.navbar.length === 1 ? 'placeholder' : ''}}" *ngFor="let item of usePlaceholders && data.navbar.length === 1 ? PLACEHOLDERS.navbar : data.navbar | filterEnabled; index as i">
                    <a [routerLink]="PREVIEWMODE ? null : item.path" (click)="PREVIEWMODE ? changeTemplate(item.path): ''">{{item.name | uppercase}}</a>
                    <div class="spacer" *ngIf="i < (usePlaceholders && data.navbar.length === 1 ? PLACEHOLDERS.navbar.length-1 : (data.navbar | filterEnabled).length-1)"></div>
                </div>
            </div>
        </header>
        <div class="content">
            <article>
                <div class="article {{usePlaceholders && data.articles.length === 0 ? 'placeholder' : ''}}" *ngFor="let article of usePlaceholders && data.articles.length === 0 ? PLACEHOLDERS.articles : data.articles">
                    <div class="article-header">
                        <h2>{{article.title}}</h2>
                        <span class="article-date">Posted on {{article.date | date:'yyyy.MM.dd, H:mm'}}</span>
                    </div>
                    <div class="article-body">
                        <div [innerHtml]="article.content | safeHtml"></div>
                        <!-- <p class="article-content" [innerHTML]="article.content"></p> -->
                    </div>
                </div>
            </article>
            <div class="sidebar">
                <div class="tgf" *ngIf="usePlaceholders || data.recruitment.length !== 0">
                    <h2 class="tgf-title">Recruiting</h2>
                    <div class="tgf-icons">
                        <img *ngFor="let item of usePlaceholders && data.recruitment.length === 0 ? PLACEHOLDERS.recruitment : data.recruitment" class="tgf-icon {{usePlaceholders && data.recruitment.length === 0 ? 'placeholder' : ''}}" [src]="'https://wow.zamimg.com/images/wow/icons/large/classicon_'+item.class+'.jpg'">
                    </div>
                </div>
                <div class="progresses" *ngIf="usePlaceholders || data.progress.length !== 0">
                    <h2 class="progress-title">Progress</h2>
                    <div *ngFor="let item of usePlaceholders && data.progress.length === 0 ? PLACEHOLDERS.progress : data.progress" class="progress {{usePlaceholders && data.progress.length === 0 ? 'placeholder' : ''}}" [style.background-image]="'url('+item.background+')'">
                        <span>{{item.name}}</span>
                        <div *ngFor="let raid of item.raids" class="raid">
                            <span>{{raid.difficulty}} {{raid.current}} / {{raid.max}}</span>
                        </div>
                    </div>
                </div>
                <div class="channels" *ngIf="usePlaceholders || data.twitch.length !== 0">
                    <h2 class="channels-title">Twitch Channels</h2>
                    <a [href]="item.link" target="_blank" *ngFor="let item of usePlaceholders && data.twitch.length === 0 ? PLACEHOLDERS.twitch : data.twitch" class="channel {{usePlaceholders && data.twitch.length === 0 ? 'placeholder' : ''}}" style="background-color: plum;">
                        <img src="https://static-00.iconduck.com/assets.00/twitch-icon-489x512-jqw4vk2h.png" style="width: 25px;">
                        {{item.name}}
                    </a>
                </div>
                <div class="channels" *ngIf="usePlaceholders || data.youtube.length !== 0">
                    <h2 class="channels-title">Youtube Channels</h2>
                    <a [href]="item.link" target="_blank" *ngFor="let item of usePlaceholders && data.youtube.length === 0 ? PLACEHOLDERS.youtube : data.youtube" class="channel {{usePlaceholders && data.youtube.length === 0 ? 'placeholder' : ''}}" style="background-color: rgb(255, 75, 75);">
                        <img src="https://cdn.freebiesupply.com/logos/large/2x/youtube-icon-logo-png-transparent.png" style="width: 25px;">
                        {{item.name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <span>&copy; All rights reserved 2024</span>
    </footer>
</div>