<h2>Progress management</h2>
<div class="buttons">
    <button mat-raised-button color="primary" (click)="createProgress()" class="btn-add">Add</button>
    <div style="display: flex; gap: 10px"> <!--! TEMP DIV -->
        <button mat-raised-button color="primary" *ngIf="changed" class="btn-save-order" (click)="save()">Save</button>
        <button mat-raised-button color="warn" class="btn-save-order" (click)="reset()">Reset</button>
    </div>
</div>
<mat-accordion cdkDropList (cdkDropListDropped)="dropProgress($event)" class="progresses">
    <mat-expansion-panel *ngFor="let progress of data.progress" cdkDrag>
        <mat-expansion-panel-header>
            <mat-panel-title class="progress-name">
                {{progress.name}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div cdkDropList class="list" (cdkDropListDropped)="dropDifficulty($event, progress)">
            <div>
                <button mat-icon-button (click)="createDifficulty(progress)">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
                <button mat-icon-button (click)="editProgress(progress)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteProgress(progress.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div cdkDrag *ngFor="let difficulty of progress.raids; index as i" class="difficulty">
                <mat-icon class="material-symbols-outlined icon">swords</mat-icon>
                <div matListItemTitle class="difficulty-line">
                    <span class="title">{{difficulty.difficulty}}</span>
                    <span>{{difficulty.current}} / {{difficulty.max}}</span>
                </div>
                <button mat-icon-button (click)="editDifficulty(progress, i)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteDifficulty(progress, i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>